<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/grupo6</property>
		<property name="hibernate.connection.username">grupo6</property>
		<property name="hibernate.connection.password">grupo6</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<!-- Incluir mappings aquí -->
		<!-- <mapping resource="hibernate/clase.hbm.xml" /> -->
		
		<mapping resource="hibernate/Muber.hbm.xml" />
		<mapping resource="hibernate/Calificacion.hbm.xml" />
		<mapping resource="hibernate/Conductor.hbm.xml" />
		<mapping resource="hibernate/Pasajero.hbm.xml" />
		<mapping resource="hibernate/Usuario.hbm.xml" />
		<mapping resource="hibernate/Viaje.hbm.xml" />
		
	</session-factory>
</hibernate-configuration>